@model Entities.Fatura
@using Entities;
@{
    ViewBag.Title = "FaturaOlustur";
    Layout = "~/Views/Shared/_Layout.cshtml";
    FaturaYonetimiDbModel _entity = new FaturaYonetimiDbModel();
    var list = _entity.MusteriProfil.ToList();
    var urunlist = _entity.Urun.ToList();
}

<body class="skin-default-dark fixed-layout">

    @using (Html.BeginForm("SaveOrder", "Fatura", FormMethod.Post))
    {



        <section class="content"  style="color:#e23655">
            <div class="container-fluid">
                <div class="col">
                    <!-- left column -->
                    <div>
                        <!-- general form elements -->
                        <div class="card card-warning">
                            <div class="card-header">
                                <h3 class="card-title">FATURA DETAYLARI</h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <form role="form">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label>MÜŞTERİ GİRİŞİ</label>
                                        <div>
                                            @Html.DropDownListFor(model => model.MusteriD, ViewBag.MusteriListesi as IEnumerable<SelectListItem>, "Lütfen Seçiniz", new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label> SATIŞ BİRİMİ </label>
                                        <div> @Html.DropDownListFor(model => model.SaticiID, ViewBag.SaticiListesi as IEnumerable<SelectListItem>, "Lütfen Seçiniz", new { @class = "form-control" }) </div>
                                    </div>
                                    <div class="form-group">
                                        <label> FATURA TİPİ </label>
                                        <div>
                                            <select name="FaturaTip" id="FaturaTip" class="form-control">
                                                <option value="none" selected>Lütfen Seçiniz</option>
                                                <option value="ALIS">ALIŞ FATURASI</option>
                                                <option value="SATIS">SATIŞ FATURASI</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>FATURA TARİHİ</label>
                                        <div>
                                            <input type="text" id="FaturaTarihi" name="FaturaTarihi" placeholder="Tarih Girin" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-body -->

                            </form>
                        </div>
                        <!-- /.card -->
                    </div>
                    <!--/.col (left) -->
                    <!-- right column -->
                    <div>
                        <!-- general form elements disabled -->
                        <div class="card card-warning">
                            <div class="card-header">
                                <h3 class="card-title">KALEM DETAYLARI</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <form role="form">
                                    <div class="form-group">
                                        <label>ÜRÜN GİRİŞİ</label>
                                        <select name="UrunID" id="UrunID" class="form-control">
                                            <option value="none" selected>Lütfen Seçiniz</option>
                                            @foreach (var item in urunlist)
                                            {
                                                <option value=@item.ID>@item.UrunAdi</option>
                                            }

                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>ADET</label>
                                        <input type="number" id="Miktar" name="Miktar" placeholder="Adet Girin" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label>BİRİM FİYAT</label>
                                        <input type="number" id="BirimFiyat" name="BirimFiyat" placeholder="Birim Fiyat Girin" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label>KDV YÜZDESİ</label>
                                        <input type="number" id="KdvMiktar" name="KdvMiktar" placeholder="KDV Oranı Girin" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <a id="addToList" class="btn btn-success">LİSTEYE EKLE</a>
                                    </div>
                                    <table id="detailsTable" class="table">
                                        <thead>
                                            <tr>
                                                <th style="width:30%">Ürün Kodu</th>
                                                <th style="width:20%">Adet</th>
                                                <th style="width:15%">Birim Fiyat</th>
                                                <th style="width:25%">KDV ORANI</th>
                                                <th style="width:10%"></th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>

                                </form>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!--/.col (right) -->
                    <button type="reset" class="btn btn-default" data-dismiss="modal">TEMİZLE</button>
                    <button id="saveOrder" type="submit" class="btn btn-danger">FATURAYI KAYDET</button>
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
    }
    <script language="JavaScript" type="text/javascript" src="~/Scripts/SaveOrder.js"></script>
    @*input mask*@

    <!--datepicker JS includes -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript">
        $(document).ready(function ($) {

            $("#FaturaTarihi").datepicker();
        });
    </script>

</body>




