@model DataEntities.FaturaDTOtoMain
@{
    ViewBag.Title = "Print";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Print</h2>

<label class="control-label col-md-2">
    SATIŞ GİRİŞİ
</label>
<div class="col-md-4">

    @Html.DropDownListFor(model => model.SaticiID, ViewBag.SaticiListesi as IEnumerable<SelectListItem>, "Lütfen Seçiniz", new { @class = "form-control" })
    

</div>